.button {

    -fx-cursor: hand;

    -fx-background-radius: 10;

    -fx-border-radius: 10;

    -fx-padding: 10 20;

    -fx-font-size: 14;

    -fx-font-weight: bold;

    -fx-opacity: 1;


}

/* PRIMARY */


.primary {

    -fx-background-color: -color-primary;

    -fx-text-fill: white;

}

/* SECONDARY */


.secondary {

    -fx-background-color: -surface-secondary;

    -fx-text-fill: -text-primary;

}

/* BUY */

.buy {

    -fx-background-color: #16A34A;

    -fx-text-fill: white;

}

/* SELL */

.sell {

    -fx-background-color: #DC2626;

    -fx-text-fill: white;

}

/* WARNING */

.warning {

    -fx-background-color: #F59E0B;

    -fx-text-fill: white;

}

/* IMAGE */

.image {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-opacity: 1;

}



/* OUTLINE */
.outline {

    -fx-background-color: transparent;

    -fx-border-color: -color-primary;

    -fx-border-width: 2;

    -fx-text-fill: -color-primary;

}



/* states */
.button:hover {

    -fx-opacity: .90;

}
.button:pressed {

    -fx-opacity: .75;

}
.button:disabled {

    -fx-opacity: .45;

}
